.contentHeros{
    width: 100%;
    
    margin-top: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.heros{
    display:grid;
    max-width: 700px;

    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    margin: 0 auto;
    
  
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.inputSearch{
    margin-left:15px;
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:300px;
    padding:8px 0 5px 0;
    color:#fff;
}
.inputSearch:focus{
    border:none;	
 outline:none;
 border-bottom:1px solid #ff3333;	
}
.iconSearch:hover{
 cursor: pointer;
 transform: scale(0.9);
 opacity: 0.5;
 color:#ff3333;
}

@media (max-width:700px) {
    .heros{
      
        grid-template-columns: repeat(2, 1fr);
       
        
      
    }
}
@media (max-width:500px) {
    .heros{
      
        grid-template-columns: repeat(1, 1fr);
       
        
      
    }
    .heros{
      
        grid-template-columns: repeat(1, 1fr);
       
        
      
    }
}

